name: Build, Test and Pack

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.x
            9.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Run unit tests
        run: dotnet test --configuration Release --no-build --verbosity normal --logger "trx;LogFileName=test-results.trx" --collect:"XPlat Code Coverage"

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            **/test-results.trx

      - name: Pack
        run: dotnet pack src/FileSignatures/FileSignatures.csproj --no-build --configuration Release --output ./nupkg

      - name: Upload NuGet package artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: ./nupkg/*.nupkg
          retention-days: 30
    
      - name: Upload NuGet symbols artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nuget-symbols
          path: ./nupkg/*.snupkg
          retention-days: 30
          if-no-files-found: ignore

